<p>header</p>
<form method="get" action="{% url 'blog:post_search' %}">
    <input type="text" name="query" required placeholder="کلمه مورد نظر را وارد کنید">
    <input type="submit" value="چستجو">

</form>
<a href="{% url 'blog:index'%}"> index </a>
<a href="{% url 'blog:profile'%}"> profile </a>
<a href="{% url 'blog:post_list'%}"> posts </a>
<br>
{% if request.user.is_authenticated %}
    <div>
        <a href="{% url 'blog:profile' %}">{{ request.user.first_name|default:request.user.username }}</a>
    </div>
{% else %}
    <div>
        <a href="{% url 'blog:login' %}">ورود</a>
        <a href="{% url 'blog:register' %}">ثبت نام</a>
    </div>
{% endif %}
