{% extends 'parent/base.html' %}
{% block title %}create post{% endblock %}


{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if post %}
            {% for img in post.images.all %}
                <img src="{{ img.image_file.url }}" alt="{{ image.title }}">
                <a href="{% url 'blog:delete_image' img.id %}">حذف عکس</a>
            {% endfor %}
        {% endif %}
        <input type="submit" value="ثبت">
    </form>

    {% if form.errors %}
        لطفا خطا های زیر را اصلاح کنید
        <br>
        {% for field in form%}
            {% if field.errors %}
                {% for error in field.errors %}
                    {{ field.label }} : {{ error }}
                    <br>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}