{% extends 'parent/base.html' %}
{% block title %}post detail{% endblock %}
{% load jformat %}  {# Django jalali #}
{% load blog_tags %}

{% block content %}
    <ul>
    <li class="card" style="--color:#ececec; --bg-color:#E98B43">
    <div class="icon"><i class="fa-solid fa-house"></i></div>
        <div class="title">post detail</div>>
    </li>
    <li class="card" style="--color:#ececec; --bg-color:#E98B43">
        <div class="icon"><i class="fa-solid fa-house"></i></div>
        <div class="title">{{ post.title }} by ( <a href="{% url 'blog:author_detail' post.author.id %}">{{ post.author }}</a> )</div>>
    </li>
        <div>
            {% for img in post.images.all %}
                <img src="{{ img.image_file.url }}" alt="{{ image.title }}">
            {% endfor %}
        </div>
    <li class="card" style="--color:#ececec; --bg-color:#032437">
        <div class="icon"><i class="fa-solid fa-circle-star"></i></div>
        <div class="title">{{ post.description | markdown }}</div>>
    </li>
    <li class="card" style="--color:#ececec; --bg-color:#022F46">
        <div class="icon"><i class="fa-solid fa-chart-column"></i></div>
    <div class="title">{{ post.publish | jformat:"%Y/%M/%d - %H:%I"}}</div>
    </li>
    </ul>

    <br>
    <div>
    {% with comments.count as cm_count %}
    {{ cm_count }} comment{{ cm_count | pluralize }}
    </div>
        <div>
        {% for cm in comments%}
            {{ cm.body|linebreaks }}
            <br>
            {{ cm.name }}
        {% empty %}
            کامنتی وجود ندارد
        {% endfor %}
        
        </div>
    {% endwith %}
    {% include 'partials/comment.html' %}
{% endblock %}