{% extends 'parent/base.html' %}
{% block title %}index{% endblock %}
{% load blog_tags %}


{#  {{ posts.count }} number of posts #}
{%  block content %}
    <p>امار:</p>
    <p>{% total_posts %}تعداد پست ها:</p>
    <p>{% total_comments %}تعداد کاممنت ها:</p>
    <p>تاریخ اخرین پست:{% last_post %}</p>
    <p>بیشترین زمان مطالعه:{% most_reading_time %}</p>
    <p>کمترین زمان مطالعه:{% least_reading_time %}</p>


    <h2>پست پیشنهادی</h2>
    {% suggested_post as sj_post %}
    <div>
    {% if sj_post.images.first %}
        <a href="{{ sj_post.get_absolute_url }}"><img src="{{ sj_post.images.first.image_file.url }}"></a>
    {% else %}
        <a href="{{ sj_post.get_absolute_url }}"><img src="{{ '/media/images/no-post.png' }}"></a>
    {% endif %}
        <h3><a href="{{ sj_post.get_absolute_url }}">{{ sj_post.title }}</a></h3>

    </div>

    <h2>فعال ترین کاربرها</h2>
    {%  active_users 3 as act_usr %}
    {% for user in act_usr %}
        <br>
        {{ user.username }} with {{ user.post_count }}
    {% endfor %}

    {% latest_post 10 %}
    <h2>بهترین پست ها</h2>
    {% most_popular_posts 10 as pop_posts %}
    {% for post in pop_posts %}
        <a href="{{ post.get_absolute_url }}">{{ post.title }} with {{ post.comments_count }} comments</a>
    {% endfor %}
{% endblock %}