{% extends 'parent/base.html' %}
{% block title %}post list{% endblock %}


{#  {{ posts.count }} number of posts #}
{%  block content %}
    <h1>post-list</h1>
    <ol class="alternating-colors">

    {% for post in posts %}
        <li>
        <strong>
        <a href="{{ post.get_absolute_url }}"> {{ post.title}}</a>
        </strong>
        <p>{{ post.description | truncatewords:5 }}</p>
        <img src="{{ post.images.first.image_file.url }}" alt="{{ post.images.first.title }}">
        </li>
    {% endfor %}
    </ol>
    {% include 'partials/pagination.html' with page=page_obj %}
{% endblock %}