{% extends 'parent/base.html' %}
{% block title %}post list{% endblock %}


{#  {{ posts.count }} number of posts #}
{%  block content %}

    <a href="{% url 'blog:post_list_category' 'تکنولوژی' %}">تکنولوژی</a>
    <a href="{% url 'blog:post_list_category' 'برنامه نویسی' %}">برنامه نویسی</a>
    <a href="{% url 'blog:post_list_category' 'هوش مصنوعی' %}">هوش مصنوعی</a>
    <a href="{% url 'blog:post_list_category' 'بلاکچین' %}">بلاکچین</a>
    <a href="{% url 'blog:post_list_category' 'سایر' %}">سایر</a>
    {% if category %}
        <h1>post-list of {{ category }}</h1>
    {% else %}
        <h1>post-list</h1>
    {% endif %}

    <ol class="alternating-colors">

    {% for post in posts %}
        <li>
        <strong>
        <a href="{{ post.get_absolute_url }}"> {{ post.title}}</a>
        </strong>
        <p>{{ post.description | truncatewords:5 }}</p>
        <img src="{{ post.images.first.image_file.url }}" alt="{{ post.images.first.title }}">
        </li>
    {% endfor %}
    </ol>
{#    {% include 'partials/pagination.html' with page=page_obj %}#}
    {% include 'partials/pagination.html' with page=posts %}
{% endblock %}