{% extends 'parent/base.html' %}
{% load blog_tags %}
{% block title %}obj search{% endblock %}


{% block content %}
    {% if query %}
        <br>
        {{ results.count  }} : پست ها {{ query }} نتایج جستجو
    {% endif %}
    <br>
    {% for obj in results %}
        {% if obj|is_post  %}
            <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
            <p>{{ obj.description }}</p>

        {% elif obj|is_image %}
            <p>{{ obj.post.title }}</p>
            <a href="{{ obj.post.get_absolute_url }}"> <img src="{{ obj.image_file.url }}" alt="{{ image.title }}" >
            </a>
        <hr>
        {% endif %}
    {%  empty %}
        <p>پستی یافت نشد</p>
    {% endfor %}
{% endblock %}